---
layout: default
title: Blog
permalink: /blog
---

<div class="blog">

  <header class="page-header">
    <h3 class="page-header__subtitle">Posts</h3>
  </header>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
      
        <div class="post {%if post.cover_image %}post--with-cover{% endif %} post--{{ post.date | date: "%A" | downcase }}" {%if post.cover_image %} style="background-image: url({{post.cover_image}});" {% endif %}>
          <header>
      
            <div class="post__title">
              <div class="post__title-main"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
              <div class="post__title-sub">{{ post.description }}</div>
            </div>

            <div class="post__meta">
              <div class="post__meta-date">
                <i class="fa fa-calendar"></i>&nbsp;{{ post.date | date: "%Y-%m-%d" }}
              </div>
              <div class="post__meta-tags">
                <ul>
                  <li><a href="#"><i class="fa fa-tag"></i>&nbsp;JavaScript</a></li>   
                  <li><a href="#">技術</a></li>               
                </ul>
              </div>
            </div>

          </header>
        </div>
       
      </li>
    {% endfor %}
  </ul>

</div>
