/* fonts */
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;


/* layout */
$spacing-unit:     30px;
$content-width:    960px; // Width of the content area


/* colors */
$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);
$alizarin-color: #e74c3c;
$carrot-color: #e67e22;
$orange-color: #f39c12;
$nephritis: #27ae60;
$peter-river-color: #3f9ddd;
$wisteria-color: #8e44ad;
$midnight-blue-color: #2c3e50;
$asbestos-color: #7f8c8d;



/* media query breakpoints */
$on-palm:          600px;
$on-laptop:        800px;

/* mq */
$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 980px,
    wide:    1300px,

    // Tweakpoints
    smallMoile: 320px,
    bigMobile: 414px
);
