<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ '/blog' | prepend: site.baseurl }}">{{ site.title }}</a>

    <nav class="site-nav">
      <input type="checkbox" name="" id="site-nav__menu-toggle">
      <label for="site-nav__menu-toggle" class="site-nav__menu-icon"></label>


      <ul class="site-nav__menu">
        {% for page in site.pages %}
          {% if page.title and page.layout != 'category' %}
          <li class="site-nav__menu-item"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

  </div>

</header>
