$fullscreen-bg-1: 'https://www.dropbox.com/s/5lqek9315s4bnii/moutain1-1080p.jpg?raw=1';

$fullscreen-bg-2: 'https://www.dropbox.com/s/ojusm0xfckwagkp/pathway-1080p.jpg?raw=1';
  
$fullscreen-bg-3: 'https://www.dropbox.com/s/6eapbdeuh97g5cw/taipei1.jpg?raw=1';

$fullscreen-backgrounds: $fullscreen-bg-1, $fullscreen-bg-2, $fullscreen-bg-3;

$fullscreen-bg-length: length($fullscreen-backgrounds);

$animation-duration: 30s;

$animation-delay: $animation-duration / $fullscreen-bg-length;

$animation-step: round($animation-delay / $animation-duration * 100%);

* {
  box-sizing: border-box;
  font-family: 'Vollkorn', sans-serif;
}

.content {
  position: fixed;
  min-width: 250px;
  margin-left: 3vw;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 2vw;
  color: white;
  background: rgba(0,0,0,0.6);
  font-size: 1rem;
    
    @media screen and (max-width: 450px) {
      font-size: 1.3rem;
      margin: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: auto;
    }
}

.home-title {
  border-bottom: 1px solid white;
  
  &__main {
    margin-bottom: 0;
    line-height: 1.1;
    font-size: 1.6em;
  }
  
  &__sub {
    font-size: 0.8em;
    margin-top: 0;
  }
}

.home-nav {
  margin-top: 5vh;
  font-size: 1.1em;
  
  > ul {
    //display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  &__item {
    padding: 8px 0;
    
    &:hover, &:active {
      background-color: darken(rgba(255,255,255,0.6), 50%);
      cursor: pointer;
    }
  }
}

.bg-slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-image: url(#{$fullscreen-bg-1});
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    animation: slideshow-animation $animation-duration linear infinite;
  }
  
  @for $i from 1 through $fullscreen-bg-length {
    & > li:nth-child(#{$i}) &__image {
      background-image: url(nth($fullscreen-backgrounds, $i));
      animation-delay: $animation-delay * ($i - 1);
    }
  }
}

@keyframes slideshow-animation {
  0% {
    opacity: 0;
  }
  #{$animation-step/2} {
    opacity: 1;
  }
  #{$animation-step} {
    opacity: 1;
  }
  #{$animation-step*1.5} {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}