.background-slide {
	position: fixed;
	top: 0;
	width: 100%;
	height: 50%;
	background-color: skyblue;
	// background-image: url("https://www.dropbox.com/s/ojusm0xfckwagkp/pathway-1080p.jpg?raw=1");
	background-image: url("/img/homepage-background/homepage-bg-1-1920.jpg");
	background-size: cover;
	background-position: 50% 50%;

	@include mq($from: tablet, $until: desktop) {
		/* 740px - 979px */
		background-image: url("/img/homepage-background/homepage-bg-1-1280.jpg");
		// background-image: url("/img/IMG_2731.jpg");
	}

	@include mq($from: bigMobile, $until: tablet) {
		/* 414px - 739px */
		background-image: url("/img/homepage-background/homepage-bg-1-980.jpg");
	}

	@include mq($until: bigMobile) {
		/* under 413px */
		background-image: url("/img/homepage-background/homepage-bg-1-640.jpg");
	}
}

.home-content {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50%;
}

.home-title {
	font-size: 4rem;
	color: white;
	padding: 5px 20px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(#000, 0.45);

	@include mq($until: bigMobile) {
		left: 0;
		top: -90%;
		transform: none;
		right: 10%;
	}
}

.home-subtitle {
	font-size: 1.4rem;
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);

	@include mq($until: bigMobile) {
		bottom: 3%;
		left: auto;
		right: 10%;
		transform: none;
	}
}

.home-nav {
	font-size: 2rem;
	text-align: center;
	position: relative;
	top: 30%;

	> ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		line-height: 1;
		display: inline-block;
		padding: 0 20px;
		margin-bottom: 10px;
	}

	a {
		color: black;
		text-decoration: none;
	}

	a:hover{
		color: darken($grey-color-light, 35%);
	}

	li:not(:last-child) {
		border-right: 1px solid darken($grey-color-light, 30%);
	}

	@include mq($until: bigMobile) {
		text-align: left;
		border: 1px solid darken($grey-color-light, 40%);
		display: inline-block;
		top: -50%;
		background-color: rgba(#FFF, 0.5);
		left: 25px;

		li {
			display: block;
			padding: 20px 25px;
			margin: 0;
		}
		
		li:not(:last-child) {
			border: none;
		}

	}
}