---
layout: default
title: Blog
---

<div class="blog">

  <header class="page-header">
    <h3 class="page-header__subtitle">Posts</h3>
  </header>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
      
        <div class="post post--list {%if post.cover_image %}post--with-cover{% endif %} post--{{ post.date | date: "%A" | downcase }}" {%if post.cover_image %} style="background-image: url({{post.cover_image}});" {% endif %}>
          <header>
      
            <div class="post__title">
              <div class="post__title-main"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></div>
              <div class="post__title-sub">{{ post.description }}</div>
            </div>

            <div class="post__meta">
              <div class="post__meta-date">
                <i class="fa fa-clock-o"></i>&nbsp;<time>{{ post.date | date: "%m-%d, %Y" }}</time>
              </div>
              <div class="post__meta-category">
                <ul>
                {% for category in post.categories %}
                  <li><i class="fa fa-folder-open-o"></i>&nbsp;<a href="/blog/category/{{category}}">{{ category }}</a></li>
                {% endfor %}                  
                </ul>
              </div>
            </div>

          </header>
        </div>
       
      </li>
    {% endfor %}
  </ul>

</div>
