---
layout: default
---
<article class="post post--single" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post__header">
    <h1 class="post__title" itemprop="name headline">{{ page.title }}</h1>
    	<div class="post__meta">
    		<time>{{ page.date | date: "%Y-%m-%d" }}</time>
    		<i class="fa fa-tags"></i>
    		{% for tag in page.tags %}
	    		<span><a href="/blog/tag/{{tag}}">{{ tag }}</a></span>
    		{% endfor %}
    	</div>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
