@import url('//fonts.googleapis.com/earlyaccess/notosanstc.css');
@import url('//fonts.googleapis.com/css?family=Noto+Sans');

html {
  font-size: 62.5%;
}

body {
  font-weight: 300;
  font-family: 'Noto Sans TC', 'Noto Sans', sans-serif;
}

/* Site content */
.site-content {
    min-height: 100%;
    position: relative;
    padding-top: 65px;
    padding-bottom: 150px;
}


/* Wrapper */
.wrapper {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    overflow-x: hidden;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}


/* Site header */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    background-color: white;

    // Positioning context for the mobile navigation icon
    position: fixed;
    top: 0;
    width: 100%;
}

.site-title {
    font-size: 26px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    text-decoration: none;
    float: left;

    &:hover {
        text-decoration: none;
    }

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    font-size: 1.4rem;
    font-weight: 400;

    #site-nav__menu-toggle {
        display: none;
    }

    &__menu-icon {
        display: none;
    }

    &__menu {
        margin: 0;
        padding: 0;  
    }

    &__menu-item {
        list-style: none;
        display: inline-block;

        > a {
            color: inherit;
            margin: 0 $spacing-unit / 2;
            text-decoration: none;
        }

        > a:hover {
            border-bottom: 3px solid $midnight-blue-color;
        }


        &:last-child > a {
            padding-right: 0;
            margin-right: 0;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 8px;
        right: $spacing-unit / 2;
        width: 36px;
        height: 40px;
        background-color: $background-color;

        &__menu-icon, &__menu-icon::before, &__menu-icon::after {
            position: absolute;
            display: block;
            border-radius: 3px;
            width: 30px;
            height: 4px;
            transition: all 0.3s ease-in-out;
        }

        &__menu-icon {
            height: 40px;
            cursor: pointer;
            background-image: linear-gradient(
              to bottom,
              white,
              white 45%,
              black 45%,
              black 55%,
              white 55%,
              white 100%
            );
        }

        &__menu-icon::before {
            background-color: black;
            content: '';
            top: 8px;
        }

        &__menu-icon::after {
            content: '';
            background-color: black;
            bottom: 8px;
        }

        &__menu {
            position: fixed;
            transform: translateX(100%);
            transition: transform 0.3s ease-in-out;
            left: 0;
            top: 62px;
            width: 100%;
            clear: both;
            display: block;
            background-color: white;
        }

        &__menu-item {
            display: block;

            &:last-child {
                border-bottom: 1px solid $grey-color-light;
            }

            > a {
                display: block;
                margin: 0;
                padding: 0 $spacing-unit / 2;
            }

            > a:hover, > a:active {
                text-decoration: none;
                border: none;
                background-color: $grey-color-light;
            }
        }


        #site-nav__menu-toggle:checked + &__menu-icon {
            background-image: none;
        }

        #site-nav__menu-toggle:checked + &__menu-icon::before {
            top: 18px;
            transform: rotate(45deg);
        }

        #site-nav__menu-toggle:checked + &__menu-icon::after {
            bottom: 18px;
            transform: rotate(-45deg);
        }

        #site-nav__menu-toggle:checked ~ &__menu {
            transform: translateX(0);
        }

    }
}




/* Site footer */
.site-footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: $spacing-unit 0;
    background-color: $grey-color-dark;
    font-size: 1.8rem;

    &__social-icons {
        list-style: none;
        margin: 0;
        padding: 0;

        > li {
            display: inline-block;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    @media screen and (max-width: 450px) {
        font-size: 1.4rem;

        &__social-icons {
            font-size: 2em;
        }
    }

}


/* General page content */
.page-header {
    &__title {
        margin-bottom: 0;
        font-size: 3rem;
        line-height: 1.2;
    }

    &__subtitle {
        font-size: 1.8rem;
    }
}

.page-content {
    font-size: 1.5rem;
    padding: $spacing-unit 0;
}


/* blog home page */
.post-list {
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}


$post-colors: (
    monday: $alizarin-color,
    tuesday: $carrot-color,
    wednesday: $orange-color,
    thursday: $nephritis,
    friday: $peter-river-color,
    saturday: $wisteria-color,
    sunday: $midnight-blue-color
);

@each $day, $color in $post-colors {
    .post--#{$day}:not(.post--with-cover) {
        header {
            background-color: $color;
        }
    }
}

.post--with-cover {
    height: ($content-width - $spacing-unit  * 4) * (9 / 21);
}

.post.post--list {
    background-position: center center;
    background-size: cover;
    color: white;
    font-size: 1.8rem;

    > header {
        padding: $spacing-unit / 2 $spacing-unit / 2;
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    &.post--with-cover > header {
        background-color: rgba($grey-color-dark, 0.7);
    }

    .post__title {
        display: table-cell;
        vertical-align: top;
        font-size: 1.1em;
        padding: 5px 10px;
        width: 75%;
        margin: 0;
        line-height: 1.2;
        border-right: 1px solid white;

        &-sub {
          padding: 0.2em 0;
          font-size: 0.6em;
        }

        a {
            text-decoration: none;
            color: white;
        }
    }

    .post__meta {
        display: table-cell;
        vertical-align: top;
        text-align: right;
        font-size: 0.75em;
        padding: 5px 10px;
        width: 25%;
    }

    .post__meta-date {

    }

    .post__meta-category {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        a {
            color: inherit;
        }
    }

    @media screen and (max-width: 960px) {
        font-size: 1.8rem;
        .post__title {
            width: 70%;
        }
        .post__meta {
            width: 30%;
        }
    }

    @media screen and (max-width: 600px) {
        text-align: center;
        &.post--with-cover {
            height: 80vw;
        }

        .post__title {
            border: none;
            border-bottom: 1px solid white;
            width: 100%;
            display: block;
            padding: 5px 0;
        }
        .post__meta {
            width: 100%;
            display: block;
            text-align: inherit;
            padding: 5px 0;
            li {
                display: inline-block;
            }
        }
    }

}


/* Individual post */
.post.post--single {
    font-size: 1.8rem;

    .post__header {
        margin-bottom: $spacing-unit;
    }

    .post__title {
        font-size: 1.8em;
        letter-spacing: -1px;
        line-height: 1;
    }

    .post__meta {
        font-size: 0.75em;
        color: $grey-color;

        span:not(:last-child)::after {
            content: ',\00a0';
        }
    }


    .post-content {
        margin-bottom: $spacing-unit;
        font-size: 0.9em;
    }
}


/* post by categories or tags */
.posts-by-filter {
    color: black;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 2rem;

    &__post {
        padding: 2rem 0;
    }

    &__post:not(:last-child) {
        border-bottom: 1px solid $grey-color-light;
    }

    &__post-date {
        color: $asbestos-color;
        font-size: 0.8em;
    }

    a {
        display: block;
        color: inherit;
        text-decoration: none;
    }

    a:hover {
        background-color: $grey-color-light;
    }
}

/* Paginator */
.paginator {
    overflow: hidden;

    &__previous {
        float: left;
    }

    &__next {
        float: right;
    }

    a {
        color: inherit;
    }
}


