* {
	box-sizing: border-box;
}

ol {
    padding: 0;
}

ol li {
    list-style-type: decimal; /* or 'decimal-leading-zero', 'upper-alpha', 'lower-alpha'... */
    list-style-position: inside; /* or 'inside' */
    //margin-left: 1em; /* gives 'room' for the numbers to appear in */
}

img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}