@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);
@import url(http://fonts.googleapis.com/earlyaccess/cwtexming.css);

html {
  font-size: 62.5%;
}

body {
  font-family: 'cwTeXMing' ,'cwTeXHei', 'cwTeXFangSong', 'Noto Sans TCs', sans-serif;
}

/* Site content */
.site-content {
    min-height: 100%;
    position: relative;
    padding-top: 65px;
    padding-bottom: 250px;
}


/* Wrapper */
.wrapper {
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}


/* Site header */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    background-color: white;

    // Positioning context for the mobile navigation icon
    position: fixed;
    top: 0;
    width: 100%;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    #site-nav__menu-toggle {
        display: none;
    }

    &__menu-icon {
        display: none;
    }

    &__menu {
        margin: 0;
        padding: 0;  
    }

    &__menu-item {
        list-style: none;
        display: inline-block;

        > a {
            padding: 0 $spacing-unit / 2;
        }

        &:last-child > a {
            padding-right: 0;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 8px;
        right: $spacing-unit / 2;
        width: 36px;
        height: 40px;
        background-color: $background-color;

        &__menu-icon, &__menu-icon::before, &__menu-icon::after {
            position: absolute;
            display: block;
            border-radius: 3px;
            width: 30px;
            height: 4px;
            transition: all 0.3s ease-in-out;
        }

        &__menu-icon {
            height: 40px;
            cursor: pointer;
            background-image: linear-gradient(
              to bottom,
              white,
              white 45%,
              black 45%,
              black 55%,
              white 55%,
              white 100%
            );
        }

        &__menu-icon::before {
            background-color: black;
            content: '';
            top: 8px;
        }

        &__menu-icon::after {
            content: '';
            background-color: black;
            bottom: 8px;
        }

        &__menu {
            position: fixed;
            transform: translateX(100%);
            transition: transform 0.3s ease-in-out;
            left: 0;
            top: 62px;
            width: 100%;
            clear: both;
            display: block;
            background-color: white;
        }

        &__menu-item {
            display: block;

            &:last-child {
                border-bottom: 1px solid $grey-color-dark;
            }

            > a {
                display: block;
                padding: 0 $spacing-unit / 2;
            }

            > a:hover {
                text-decoration: none;
                background-color: $grey-color-light;
            }
        }


        #site-nav__menu-toggle:checked + &__menu-icon {
            background-image: none;
        }

        #site-nav__menu-toggle:checked + &__menu-icon::before {
            top: 18px;
            transform: rotate(45deg);
        }

        #site-nav__menu-toggle:checked + &__menu-icon::after {
            bottom: 18px;
            transform: rotate(-45deg);
        }

        #site-nav__menu-toggle:checked ~ &__menu {
            transform: translateX(0);
        }

    }
}




/* Site footer */
.site-footer {
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: $spacing-unit 0;
    background-color: $grey-color-dark;
    font-size: 2rem;

    &__social-icons {
        list-style: none;
        margin: 0;

        > li {
            display: inline-block;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    @media screen and (max-width: 450px) {
        font-size: 1.4rem;

        &__social-icons {
            font-size: 2em;
        }
    }

}



/* Page content */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}


$post-colors: (
    monday: $alizarin-color,
    tuesday: $carrot-color,
    wednesday: $orange-color,
    thursday: $nephritis,
    friday: $peter-river-color,
    saturday: $wisteria-color,
    sunday: $midnight-blue-color
);

.post {
    background-position: center center;
    background-size: cover;
    color: white;
    font-size: 2rem;
    font-family: 'Noto Sans TCs';

    > header {
        padding: $spacing-unit / 2 $spacing-unit / 2;
        background-color: rgba($grey-color-dark, 0.7);
        display: table;
        table-layout: fixed;
        width: 100%;
    }

    @each $day, $color in $post-colors {
        &--#{$day}:not(&--with-cover) {
            header {
                background-color: $color;
            }
        }
    }


    &--with-cover {
        height: ($content-width - $spacing-unit  * 4) * (9 / 21);
    }

    &__title {
        display: table-cell;
        vertical-align: top;
        font-size: 1.2em;
        padding: 5px 10px;
        width: 75%;
        margin: 0;
        line-height: 1.2;
        border-right: 1px solid white;

        &-main {
        }

        &-sub {
          padding: 0.2em 0;
          font-size: 0.6em;
        }

        a {
            text-decoration: none;
            color: white;
        }

    }

    &__meta {
        display: table-cell;
        vertical-align: top;
        text-align: right;
        font-size: 0.75em;
        padding: 5px 10px;
        width: 25%;
    }

    &__meta-date {

    }

    &__meta-tags {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        a {
            color: inherit;
        }
    }

    @media screen and (max-width: 960px) {
        font-size: 1.8rem;
        &__title {
            width: 70%;
        }
        &__meta {
            width: 30%;
        }
    }

    @media screen and (max-width: 600px) {
        text-align: center;
        &--with-cover {
            height: 80vw;
        }

        &__title {
            border: none;
            border-bottom: 1px solid white;
            width: 100%;
            display: block;
        }
        &__meta {
            width: 100%;
            display: block;
            text-align: inherit;
            li {
                display: inline-block;
            }
        }
    }

}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}


/* Posts */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
